APP_NAME=Restaurante Software API
APP_VERSION=0.1.0
ENVIRONMENT=development

# PostgreSQL local
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=restaurante_db
DB_USER=restaurante_app
DB_PASSWORD=CAMBIAR_PASSWORD
